# /etc/systemd/system/ab-janitor.service
[Unit]
Description=Autobuilder Janitor Service
After=network-online.target
Wants=network-online.target

[Service]
User=pokybuild
WorkingDirectory=/home/pokybuild
Type=simple
ExecStart=/usr/bin/python3 /home/pokybuild/yocto-autobuilder-helper/janitor/ab-janitor

[Install]
WantedBy=multi-user.target
